# Test config file
markets: btcusdt, btcusdc, btcbusd, ethusdt, ethusdc, ethbusd, linkusdt, linkusdc, linkbusd, adausdt, adausdc, adabusd, bnbusdt, bnbusdc, bnbbusd, hbarusdt, hbarbusd, hbarbnb, hbarbtc, unibtc, uniusdt, unieth, unibusd, balusdt, balbusd, balbtc, rayusdt, raybusd, raybnb, compusdt, compbusd, compbtc, aaveusdt, aavebusd, aavebtc, aavebnb, aaveeth, crvusdt, crvbusd, crvbtc, crveth
